/* Process && #section3 */
/* Phases of the Development Process */
/* ** DEV PROCESS SLIDER ** */

/* Entire Image Slider Div */ 
.imgSlider {
    width: 500px;
    height: 300px;
    background-color: #1D122B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #F8F6F433;
}

/* Image Slider Container Within Div */
.imgContainer {
    width: 2500px;
    background-color: #A887F4;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

/* Individual Slider Images */
.slides {
    width: 500; 
    height: 300;
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;
}

/* Slider Image One Position */
#slide-1:target~.imgContainer {
    left: 0px;
}

/* Slider Image Two Position */
#slide-2:target~.imgContainer {
    left: -500px;
}

/* Slider Image Three Position */
#slide-3:target~.imgContainer {
    left: -1000px;
}

/* Slider Image Four Position */
#slide-4:target~.imgContainer {
    left: -1500px;
}

/* Slider Image Five Position */
#slide-5:target~.imgContainer {
    left: -2000px;
}

/* Slider Buttons */
.imgSliderButtons {
    position: relative;
    top: -32px;
}

/* Slider Button Anchors */
.imgSliderButtons a {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    font-size: 1.2em;
    background-color: #620759;
    color: #F8F6F4D1;
    text-decoration: none;
    margin: 0 0.1em;
}

/* Slider Button Anchors On Hover */
.imgSliderButtons a:hover {
    cursor: pointer;
    background-color: #57088C;
    color: #D18CFF;
}