/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/
/* CSS IMPORTS */
@import 'slider.css';
@import 'queries.css';


/* ---- Base Rules ---- */
body {
    background: #310b65;
    margin: 0;
    font-family: 'Montserrat', serif;
    color: #F8F6F4;
    background-image: linear-gradient(180deg,
            hsl(265deg 85% 13%) 0%,
            hsl(276deg 75% 13%) 17%,
            hsl(285deg 65% 12%) 33%,
            hsl(295deg 55% 12%) 50%,
            hsl(266deg 42% 12%) 67%,
            hsl(240deg 29% 11%) 83%,
            hsl(213deg 17% 10%) 100%);
}

/* ** Typography General ** */
/* All Main Links */
.main-link {
    color: #F8F6F4;
    text-decoration: none;
}
/* All Main Links On Hover */
.main-link:hover {
    color: #A887F4;
}

/* Small Header Title */
.page-title {
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.9;
}

/* Header on Hero */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 1em 0.25em;
}

/* Bottom Section of Hero */
.heroBottomFold {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr;
}

/* Hero Paragraph */
.hero-copy {
    width: 100%;
    margin: 2em 3em 3em -2em;
    font-size: 1.2em;
    grid-area: 1 / 2 / 2 / 3;
}

/* Section Headers */
h2 {
    border-bottom: 2px solid #D8F6F45D;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke: #F8F6F4D1;
    -webkit-text-stroke-width: 1.3px;
}

h3 {
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2em;
}

/* All Paragraphs */
p {
    line-height: 1.6em;
    color: #F8F6F4;
}

/* Call to Action Inline-Links */
.contactText {
    color: #F8F6F4;
    border: 1px solid #F8F6F4D1;
    border-radius: 50%;
    padding: 0.5em;
}
/* CTA Inline-Links On Hover */
.contactText:hover {
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1.01em;
    margin-left: -6px;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

section {
    position: relative;
    min-height: 80vh;
}

/* Hero Section */
.main__hero {
    min-height: 40vh;
    padding-top: 3em;
}

/* Sun SVG in Values Section */
.sunRaySvg {
    width: 40%;
    float: right;
    padding: 1em;
    max-width: 11em;
    opacity: 0.8;
}

/* Phases Div in Process Section */
#processPhases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: -1em;
}

/* Spiral SVG in Process Section */
.spiralArrowSvg {
    width: 60%;
    max-width: 12em;
    opacity: 0.9;
    transform: rotate(180deg);
    margin: 3em 0 1em 0;
}

/* Phases Header */
#processPhases>h3 {
    text-align: center;
    font-weight: 500;
    opacity: 0.9;
}

/* Diamond SVG in Journey Section */
.diamondSvg {
    width: 40%;
    float: right;
    padding: 1em;
    max-width: 11em;
    opacity: 0.9;
}

/* Contact Information */
#contact-info {
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
}

/* Contact Info List */
#contact-info>ul {
    list-style-type: none;
    padding: 0;
}

/* Contact Links on Hover */
.contact-link:hover {
    font-size: 1.35em;
}

/* Social List */
#contact-socials {
    display: flex;
}

/* Social Links */
.social-link {
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #F8F6F4D1;
    padding: 0.75em;
    border-radius: 120px;
    margin: 1rem;
}

/* Social Links On Hover */
.social-link:hover {
    font-size: 1.15em;
    color: #A887F4;
    border: 1px solid #A887F4;
}

/* Back To Top Button */
.backToTop__btn {
    background: #20092EED;
    color:#EDD8F3;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #F8F6F4D1;
    padding: 0.75em;
    border-radius: 120px;
    margin: auto;
}

/* Back To Top Button On Hover */
.backToTop__btn:hover {
    font-size: 1.05em;
    color: #A887F4;
    border: 1px solid #A887F4;
    cursor: pointer;
}

/* ---- Module Rules ---- */
/* Navigation Styles */
/* Nav Menu & List */
.navbar__menu ul,
#navbar__list {
    padding-left: 0;
    margin: 0;
    text-align: right;
    background: #20133f;
    background-image: linear-gradient(180deg,
            hsla(213, 18%, 10%, 0.944) 0%,
            hsl(239deg 23% 12%) 29%,
            hsl(249deg 32% 13%) 43%,
            hsl(255deg 37% 13%) 57%,
            hsl(260deg 39% 13%) 71%,
            hsla(266, 41%, 12%, 0.692) 100%);
}

/* Nav Menu Items */
.navbar__menu li {
    display: inline-block;
}

/* Nav List Links */
#navbar__list .navbar__link {
    display: block;
    padding: 1em;
    font-weight: 500;
    text-decoration: none;
    color: #F8F6F4;
    border: 2px solid transparent;
}

/* Nav List Links On Hover */
#navbar__list .navbar__link:hover {
    color: #BEA8F1;
    transition: ease 0.4s all;
    cursor: pointer;
    border: 2px solid #AA96D9;
}

/* Arrow SVG in Navigation */
.sharpArrowSvg {
    max-width: 1rem;
    padding: 0 0 0 0.6em;
    opacity: 0.8;
}

/* Top Nav List Links*/
.top-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1.4em;
    font-weight: 500;
    text-decoration: none;
    color: #F8F6F4;
    border: 2px solid transparent;
}

/* Top Nav List Links On Hover */
.top-nav-links:hover {
    color: #BEA8F1;
    transition: ease 0.4s all;
    cursor: pointer;
    border: 2px solid #AA96D9;
}

/* Header Styles */
.page__header {
    color: #F8F6F4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    text-align: center;
    background: #15191E;
    padding: 1em;
    color: #F8F6F4;
}

/* Footer Paragraph */
.page__footer p {
    color: #F8F6F4;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    font-size: 1em;
    font-weight: 400;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
/* Active Sections */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid #F8F6F45D;
}

/* Active Navigation Links */ 
.link-active-class {
    border: 1px solid #2E0747ED;
    background: linear-gradient(
        180deg, 
        #0000001A 0%, 
        #2E0747ED 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}