/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: #310b65;
    margin: 0;
    font-family: 'Montserrat', serif;
    color: #F8F6F4;
    background-image: linear-gradient(180deg,
            hsl(265deg 85% 13%) 0%,
            hsl(276deg 75% 13%) 17%,
            hsl(285deg 65% 12%) 33%,
            hsl(295deg 55% 12%) 50%,
            hsl(266deg 42% 12%) 67%,
            hsl(240deg 29% 11%) 83%,
            hsl(213deg 17% 10%) 100%);
}

/* All Links */
.main-link {
    color: #F8F6F4;
    text-decoration: none;
}

.main-link:hover {
    color: #A887F4;
}

/* ** Typography General ** */
/* Small Header Title */
.page-title {
    font-size: 1.1rem;
    margin: 1.6em 1em 0;
    font-weight: 500;
    text-align: right;
    opacity: 0.9;
}

/* Header on Hero */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.2em;
    margin: 1em 0.25em;
}

@media only screen and (min-width: 35em) {
    .page-title {
        margin: 1.6em 3em 0;
    }

    h1 {
        font-size: 3.7em;
        margin: 0.5em 3rem 0;
    }
}

/* Bottom Section of Hero */
.heroBottomFold {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr;
}

/* Hero Paragraph */
.hero-copy {
    margin: 2em 3em 3em -2em;
    font-size: 1.2rem;
    text-align: justify;
    grid-area: 1 / 2 / 2 / 3;
}

/* Section Headers */
h2 {
    border-bottom: 2px solid #D8F6F45D;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 4em;
    color: transparent;
    -webkit-text-stroke: #F8F6F4D1;
    -webkit-text-stroke-width: 1.3px;
}

h3 {
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2em;
}

/* All Paragraphs */
p {
    line-height: 1.6em;
    color: #F8F6F4;
}

/* Call to Action Link */
.contactText {
    color: #F8F6F4;
    border: 1px solid #F8F6F4D1;
    border-radius: 50%;
    padding: 0.5em;
}

.contactText:hover {
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1.05em;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* Sun SVG in Values Section */
.sunRaySvg {
    width: 40%;
    float: right;
    padding: 1em;
    max-width: 11em;
    opacity: 0.9;
}

/* Phases Section in Process Section */
#processPhases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2em;
}

#processPhases>h3 {
    text-align: center;
    opacity: 0.9;
}

/* Spiral SVG in Values Section */
.spiralArrowSvg {
    width: 60%;
    max-width: 12em;
    opacity: 0.9;
    transform: rotate(180deg);
    margin-bottom: 2em;
}

/* Diamond SVG in Journey Section */
.diamondSvg {
    width: 40%;
    float: right;
    padding: 1em;
    max-width: 11em;
    opacity: 0.9;
}

/* ******* SLIDER ********* */
.mySlides {
    display: none;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
}

.w3-display-container {
    max-width: 800px;
}

/* ******* END SLIDER ********* */
/* Contact Information */
#contact-info {
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
}

/* All Contact Info Lists */
#contact-info>ul {
    list-style-type: none;
    padding: 0;
}

/* Contact Info Links */
.info {
    font-size: 1.25em;
}

/* Contact Info Links on Hover */
.info:hover {
    font-size: 1.35em;
}

/* Social Link List */
#bottom-socials {
    display: flex;
}

/* All Social Links */
.socials {
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #F8F6F4D1;
    padding: 0.75em;
    border-radius: 120px;
    margin: 1rem;
}

/* Social Links On Hover */
.socials:hover {
    font-size: 1.15em;
    color: #A887F4;
    border: 1px solid #A887F4;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #F8F6F4;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    color: #F8F6F4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    text-align: center;
    background: #15191E;
    padding: 1em;
    color: #F8F6F4;
}

.page__footer p {
    color: #F8F6F4;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    font-size: 1em;
    font-weight: 400;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid #f8f6f45d;
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}